body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;

  background-color: #ffffff;
}

.map-frame {
  border: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul.listnone {
  list-style: none;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 48px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.bestsellers-all-link.button,
.brands-all-link.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 253px;
  text-align: center;
}

.heading {
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 25px 25px 28px;
}

.heading h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 5px;
}

.brands-heading {
  padding: 26px 25px 27px 25px
}

.main-header {
  background-color: #f3f7f9;
  min-height: 258px;
  padding-bottom: 59px;
  margin-bottom: 62px;
}

.main-header-inner {
  margin-bottom: 21px;
}

.top-navigation-row {
  background-color: #293449;
}

.top-navigation-row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.technomart-logo {
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.technomart-logo:hover,
.technomart-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
  box-shadow: 0 5px 0 0 #9a212a;
}

.technomart-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.technomart-logo img {
  width: 111px;
  height: 18px;
  margin-top: 13px;
  margin-left: 55px;
}

.search {
  position: relative;
}

.search input {
  width: 172px;
  padding: 12px 50px 12px 48px;
  background-color: #293449;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  border: 0;
  background-image: url("../img/icon-search30.svg");
  background-repeat: no-repeat;
  background-position: 17px 11px;
}

.search input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search.svg");
}

.search input:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../img/icon-search-focus.svg");
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
.search input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
.search input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
.search input::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.cart-navigation {
  width: 133px;
  padding: 12px 0 12px 17px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.cart-navigation.bookmarks-link {
  background-image: url("../img/icon-bookmark30.svg");
  background-repeat: no-repeat;
  background-position: 17px 11px;
}

.cart-navigation.bookmarks-link:hover,
.cart-navigation.bookmarks-link:focus {
  background-image: url("../img/icon-bookmark.svg");
}

.cart-navigation.bookmarks-link:active {
  background-image: url("../img/icon-bookmark50.svg");
}

.cart-navigation.cart-link {
  background-image: url("../img/icon-cart30.svg");
  background-repeat: no-repeat;
  background-position: 17px 11px;
}

.cart-navigation.cart-link:hover,
.cart-navigation.cart-link:focus {
  background-image: url("../img/icon-cart.svg");
}

.cart-navigation.cart-link:active {
  background-image: url("../img/icon-cart50.svg");
}

.cart-navigation:hover,
.cart-navigation:focus {
  background-color: #212a3a;
}

.cart-navigation:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #19202b;
}

.cart-link.filled {
  background-color: #ee3643;
}

.cart-navigation.make-order-link {
  width: 130px;
  padding: 12px 10px 12px 10px;
  background-color: #63a63e;
}

.cart-navigation.make-order-link:hover,
.cart-navigation.make-order-link:focus {
  background-color: #5fbb2d;
}

.cart-navigation.make-order-link:active {
  background-color: #608f46;
}

.navigation-container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 47px;
}

.navigation-container p {
  margin: 0;
}

.site-description {
  width: 198px;
  padding: 2px 50px 0 52px;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  padding: 0 50px 0 20px;
}

.header-contacts .header-contacts-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  margin-bottom: 5px;
  padding: 8px 45px 8px 71px;
  border: 3px solid #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px 50%;
}

.header-contacts .header-contacts-address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 110px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 281px;
  padding-left: 19px;
}

.main-header-inner .user-navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-navigation-inner {
  padding-left: 0;
  width: 300px;
}

.user-navigation-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.profile-btn a {
  vertical-align: top;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.profile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-link a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  margin-right: 10px;
  padding: 11px 26px 11px 47px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 12px 50%;
}

.registration-link a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding: 11px 26px 11px 25px;
}

.profile-link {
  width: 300px;
}

.profile-link .profile {
  margin-bottom: 3px;
  padding: 13px 10px 9px 47px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 13px 13px;
}

.profile-link .profile:hover,
.profile-link .profile:focus {
  background-image: url("../img/icon-user-hover.svg");
}

.profile-link .profile:active {
  opacity: 0.3;
}

.profile-link .logout {
  margin-bottom: 3px;
  padding: 13px 10px 14px 20px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: -1px 13px;
}

.profile-link .logout:hover,
.profile-link .logout:focus {
  background-image: url("../img/icon-logout-hover.svg");
}

.profile-link .logout:active {
  background-image: url("../img/icon-logout.svg");
}

.user-navigation-btn:hover,
.user-navigation-btn:focus {
  color: #ee3643;
}

.user-navigation-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link a:hover,
.login-link a:focus {
  background-image: url("../img/icon-login-hover.svg");
}

.login-link a:active {
  background-image: url("../img/icon-login.svg");
}

.user-navigation .subprofile-links {
  margin-left: 18px;
  margin-top: 5px;
}

.user-navigation .subprofile-links a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
  position: relative;
  margin-right: 29px;
}

.subprofile-links a:first-of-type::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  right: -21px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
}

.user-navigation .subprofile-links a:hover,
.user-navigation .subprofile-links a:focus {
  color: #ee3643;
}

.user-navigation .subprofile-links a:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #32425c;
  -ms-flex-line-pack: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 940px;
  padding: 0 25px;
  margin: 0 auto;
  border-bottom: 5px solid #293449;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-navigation a {
  display: block;
  color: #ffffff;
  padding: 20px 30px 18px;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 39px;
}

.breadcrumbs li:nth-of-type(3) {
  padding-right: 44px;
}

.breadcrumbs li:not(:last-of-type):after {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  right: 13px;
  width: 9px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;

}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-home {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 12px;
  margin-top: 3px;
  background: url("../img/icon-home.svg") no-repeat;
}

h1.site-header {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  margin-bottom: 26px;
}

h1.page-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding-left: 28px;
  padding-top: 31px;
  margin: 0;
  background-color: #f2f6f8;
  min-height: 58px;
  margin-bottom: 20px;
  font-weight: 400;
}

.promo-catalog {
  margin-bottom: 54px;
}

.promo-catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 410px;
}

.promo-catalog-list .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-catalog-list .flex-row:not(:first-child) {
  margin-top: 19px;
}

.promo-catalog-list .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-catalog-list p {
  margin: 0;
}

.promo-catalog-slider {
  position: relative;
  width: 620px;
  height: 266px;
  padding: 0;
  background: #f1f5f7;
}

.promo-catalog-slider figure {
  margin: 0;
  position: relative;
}

.slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 23px;
  left: 24px;
  z-index: 1;
}

.slide p {
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  top: 61px;
  left: 25px;
  z-index: 1;
}

.slide a {
  position: absolute;
  top: 205px;
  left: 25px;
  z-index: 1;
}

.slider-button-label::before {
  position: absolute;
  top: 114px;
  z-index: 1;
  content: "";
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.slider-button-back-label::before {
  left: 25px;
  background-image: url("../img/icon-left.svg");
}

.slider-button-next-label::before {
  right: 20px;
  background-image: url("../img/icon-right.svg");
}

.slider-button-back:focus + .slider-button-back-label::before  {
  border: 1px solid white;
}

.slider-button-next:focus + .slider-button-next-label::before  {
  border: 1px solid white;
}

.slider-switchers {
  position: absolute;
  bottom: 36px;
  left: 275px;
  z-index: 2;
  width: 70px;
  height: 10px;
  text-align: center;
}

.slider-switcher {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 0 2px;
  border: 2px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
}

.slider-radio-1:focus ~ .slider-switchers label[for="slider-switcher-1"] {
  border: 2px solid #3bbce3;
}

.slider-radio-2:focus ~ .slider-switchers label[for="slider-switcher-2"] {
  border: 2px solid #3bbce3;
}

.slider-switcher:hover {
  background: #ee3643;
}

.slider-radio-1:checked ~ .slider-switchers label[for="slider-switcher-1"] {
  background: #ee3643;
}

.slider-radio-2:checked ~ .slider-switchers label[for="slider-switcher-2"] {
  background: #ee3643;
}

.slider-image img {
  width: 620px;
  height: 266px;
}

/* временные стили */
.slider-controls {
  /*display: none;*/
}

.slide-1 {
  display: none;
}
/* */

.promo-catalog-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}

.promo-catalog-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  min-width: 135px;
  margin-left: 3px;
  padding: 10px 0;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
}

.promo-catalog-link:hover,
.promo-catalog-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-catalog-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-catalog-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  padding-top: 20px;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.promo-catalog-item.new::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: url("../img/new.png") no-repeat;
}

.promo-catalog-item.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
}

.promo-catalog-item.instrument {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
}

.promo-catalog-item.technic {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
}

.promo-catalog-item.sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 25px;
}

.promo-catalog-item.delievery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 190px 32px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-item {
  width: 218px;
  margin-bottom: 20px;
  padding-bottom: 19px;
  border: 1px solid #e5e5e5;
  position: relative;
  z-index: 1;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.catalog-item:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item.new::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  right: -1px;
  z-index: 3;
  width: 60px;
  height: 60px;
  background: url("../img/new.png") no-repeat;
}

.catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 26px 0 20px;
  background: #ffffff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.catalog-item:hover .catalog-item-actions {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.catalog-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;
  border-radius: 3px;
}

.catalog-item-buy.catalog-button {
  background-color: #63a63e;
  color: #ffffff;
  background-image: url("../img/icon-cart30.svg");
  background-repeat: no-repeat;
  background-position: 14px 11px;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
  box-shadow: inset 0 -3px 0 0 #367315;
  width: 95px;
  padding: 10px 20px;
}

.catalog-item-bookmark.catalog-button {
  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
  width: 135px;
  padding: 7px 0;
}

.catalog-item-buy.catalog-button:hover {
  background-color: #5fbb2d;
  background-image: url("../img/icon-cart.svg");
}

.catalog-item-buy.catalog-button:active {
  background-color: #518534;
  background-image: url("../img/icon-cart50.svg");
  -webkit-box-shadow: none;
  box-shadow: none;
}

.catalog-item-bookmark.catalog-button:hover {
  border: 3px solid #32425c;
}

.catalog-item-bookmark.catalog-button:active {
  opacity: 0.3;
}

.catalog-item .catalog-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;
  padding: 0 26px;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: 700;
  text-decoration: line-through;
  margin: 0;
  min-height: 28px;
}

.catalog-item .new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ee3643;
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  padding: 11px 5px 10px 0;
  border-radius: 3px;
  margin-left: 8px;
}

.catalog-item .new-price::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-bottom-width: 19px;
  border-left-color: #ee3643;
}

.catalog-item img {
  width: 218px;
  height: 167px;
  overflow: hidden;
}

.brands-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 310px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 63px;
}

.brands-item a {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.brands-item img {
  width: 220px;
  height: 145px;
  overflow: hidden;
}

.brands-item a:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  opacity: 0.3;
}

.map-contacts {
  position: relative;
}

.map-contacts img {
  width: 300px;
  height: 158px;
}

.map-contacts a:nth-of-type(1) {
  display: block;
  margin-bottom: 35px;
}

.write-us.button {
  min-width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 60px;
}

.services h2,
.map-contacts h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

.services {
  background-color: #f4f8f9;
}

.services-list {
  width: 240px;
  margin: 0;
  padding: 0;
  position: relative;
}

.services-list a {
  display: block;
  padding: 15px 0 15px 23px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.services-list a:hover,
.services-list a:focus,
.services-list a:active {
  border-bottom-color: transparent;
  background: #293449;
}

.service-item.active a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: #ffffff;
  color: #32425c;
}

.services-list::after {
  content: "";
  position: absolute;
  display: block;
  top: -40px;
  right: 0;
  width: 10px;
  height: 272px;
  background: url("../img/shadow.png") no-repeat 100%;
}

.services .container {
  padding-top: 68px;
  min-height: 453px;

}

.services-wrapper {
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service {
  display: none;
}

.service-delievery {
  display: block;
  background-image: url("../img/delievery.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.service-guarantee {
  display: none;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-right: 10px;
  margin-right: -10px;
}

.service-credit {
  display: none;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-right: 10px;
  margin-right: -10px;
}

.services .services-about,
.map-contacts .map-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.map-description {
  margin: 0;
  width: 182px;
  margin-bottom: 33px;
}

.services-about {
  margin: 0;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 3px;
  font-weight: 400;
}

.service {
  margin-left: 80px;
  width: 630px;
  min-height: 285px;
}

.services .services-description-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  width: 370px;
  padding-left: 3px;
}

.services .get-credit-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff5357;
  margin-top: 30px;
}

.company-and-delievery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 538px;
  padding-top: 100px;
}

.delievery-list {
  padding: 0;
  margin-bottom: 37px;
}

.delievery-list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 37px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.delievery-list li::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.more-about-company {
  min-width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 39px;
}

.about-company, .map-contacts {
  padding-top: 80px;
}

.about-company {
  min-width: 540px;
  margin-right: 100px;
}

.about-company .about-company-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 22px;
}

.about-company .about-company-text:nth-of-type(2) {
  margin-bottom: 0;
}

.about-company .about-company-text:nth-of-type(3) {
  margin-top: 0;
}

.footer-navigation-wrapper {
  background-color: #32425c;
  min-height: 193px;
}

.footer-contacts-wrapper {
  background-color: #293449;
  padding: 38px 0 35px 0;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-navigation .technomart-logo {
  display: block;
  width: 220px;
  min-height: 63px;
}

.footer-technomart-logo img {
  width: 138px;
  height: 21px;
  margin-top: 22px;
  margin-left: 42px;
}

.contacts-wrapper {
  padding-top: 34px;
  padding-left: 3px;
}

.contacts-wrapper .contacts {
  margin: 0;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  min-width: 550px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  margin: 0;
  margin-top: 39px;
  margin-left: 170px;
}

.footer-navigation a {
  line-height: 24px;
  color: #f3f7f9;
}

.footer-catalog-navigation-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 525px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 34px;
}

.footer-catalog-navigation-list a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation .contacts {
  line-height: 24px;
  color: #f3f7f9;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.copyrights,
.social-links,
.contact {
  margin: 0;
  padding: 0;
}

.copyrights {
  margin-right: 162px;
}

.contact-email {
  margin-right: 52px;
}

.copyrights li {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.contact {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.contact a {
  color: #ffd180;
}

.contact a:hover,
.contact a:focus {
  text-decoration: underline;
}

.contact a:active {
  text-decoration: none;
  color: #ee3643;
}

.contact span:nth-of-type(2) {
  display: block;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-right: 53px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-links a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  margin-left: 4px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  font-size: 0;
  position: relative;
  margin-bottom: 4px;
}

.social-links img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.social-links a.vk {
  width: 26px;
  height: 15px;
}

.social-links a.fb {
  width: 12px;
  height: 22px;
}

.social-links a.insta {
  width: 21px;
  height: 21px;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
  background-color: #ee3643;
}

.write-us-form label {
  line-height: 18px;
}

.inner-page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 40px;
}

.inner-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.inner-page-content {
  width: 700px;
}

.filters h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin: 0;
  font-weight: 400;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 10px 0 10px 19px;
}

.filter-form {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-item {
  margin-left: 0;
  margin-bottom: 17px;
  padding: 0;
  border: none;
  width: 220px;
}

.filter-item:not(.power-filter) {
  border-bottom: 1px solid #e5e5e5;
}

.range-filter {
  width: 220px;
  margin-top: 13px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 160px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 24px;
}

.price-controls input {
  width: 95px;
  padding: 8px 0 12px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.filter-form legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-form-button {
  width: 140px;
  margin-top: 42px;
  padding: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #ffffff;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-item ul {
  margin: 0;
  padding: 0;
}

.brands-filter legend,
.power-filter legend {
  margin-bottom: 13px;
}

.brands-filter {
  padding-bottom: 3px;
  margin-bottom: 16px;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-input-radio + label::before,
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: 0;
  background-repeat: no-repeat;
}

.filter-input-radio:focus + label::before,
.filter-input-checkbox:focus + label::before {
  -webkit-box-shadow: inset 0 0 10px rgb(77, 144, 254);
  box-shadow: inset 0 0 10px rgb(77, 144, 254);
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-radio-off.svg");
}

.filter-input-checkbox + label::before {
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-checkbox-off.svg");
}

.filter-input-radio:focus + label::before {
  background-image: url("../img/icon-radio-off-hover.svg");
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  background-image: url("../img/icon-radio-off-hover.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/icon-radio-on.svg");
}

.filter-input-radio:checked:focus + label::before {
  background-image: url("../img/icon-radio-on-hover.svg");
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
  background-image: url("../img/icon-radio-on-hover.svg");
}

.filter-input-checkbox:focus + label::before {
  background-image: url("../img/icon-checkbox-off-hover.svg");
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  background-image: url("../img/icon-checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icon-checkbox-on.svg");
}

.filter-input-checkbox:focus:checked + label::before {
  background-image: url("../img/icon-checkbox-on-hover.svg");
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  background-image: url("../img/icon-checkbox-on-hover.svg");
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.sort {
  width: 680px;
  margin-bottom: 20px;
  padding: 10px 0 8px 20px;
  border-radius: 3px;
  background: #f7f3ec;
  font-size: 0;
}

.sort li {
  display: inline-block;
  color: #000000;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  vertical-align: top;
}

.sort h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.sort-list-item a:not(.sort-link-order) {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px #ee3643 dotted;
}

.sort-list-item a:not(.sort-link-order):hover,
.sort-list-item a:not(.sort-link-order):focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-list-item a:not(.sort-link-order).active {
  border: none;
  color: #ee3643;
  opacity: 1;
}

.sort-list-item:nth-of-type(2) {
  margin-right: 70px;
}
.sort-list-item:nth-of-type(3) {
  margin-right: 65px;
}
.sort-list-item:nth-of-type(4) {
  margin-right: 46px;
}
.sort-list-item:nth-of-type(5) {
  margin-right: 22px;
}
.sort-list-item:nth-of-type(6) {
  margin-right: 0;
}

.sort-link-active path {
  opacity: 1;
  fill: #ee3643;
}

.sort-link-order:hover path {
  opacity: 1;
}

.catalog-item-image {
  margin: 0;
  margin-bottom: 4px;
  padding-top: 5px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 40px 0 70px 0;
}

.pagination-item {
  vertical-align: top;
  margin-right: 9px;
}

.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
}

.pagination-item.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3744;
}

.pagination-item-next a {
  padding: 10px 30px;
}

.article-wrapper {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 68px;
}

.some-words-about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

.some-words-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding-top: 25px;
  margin: 0;
}

.modal {
  background-color: #ffffff;
  position: fixed;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 4;
  display: none;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  top: 10px;
  left: 2px;
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3744;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 37px 80px;
}

.modal-footer .button {
  min-width: 220px;
  padding: 10px 0;
  text-align: center;
  border: 0;
}

.modal-footer .button-continue-shopping {
  background-color: #ffffff;
  color: #000000;
}

.modal-text-success {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  padding: 68px 100px 73px 176px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal-added-to-cart {
  width: 620px;
  min-height: 275px;
  background-image: url("../img/modal-success.svg");
  background-repeat: no-repeat;
  background-position: 80px 50px;
  border-top: 5px solid #ee3643;
  top: 150px;
  left: 50%;
  margin-left: -310px;
}

.modal-write-us {
  width: 620px;
  min-height: 314px;
  border-top: 5px solid #ee3643;
  top: 150px;
  left: 50%;
  margin-left: -310px;
}

.modal-body {
  padding: 45px 80px 39px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-body p {
  margin: 0;
}

.modal-body label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.modal-body p:last-of-type {
  width: 100%;
}

.modal-form-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  margin-bottom: 20px;
  padding: 8px 15px;
  border: 2px solid #d7dcde;
  outline: none;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.modal-form-input:hover {
  border: 2px solid #a2a9ac;
}

.modal-form-input:focus {
  border: 2px solid #ee3643;
}

.modal-form-input::-webkit-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
}
.modal-form-input:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
}
.modal-form-input::-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
}
.modal-form-input::placeholder {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
}

.modal-body textarea {
  width: 100%;
  max-width: 100%;
  height: 114px;
  max-height: 114px;
  margin-bottom: 0;
}

.send-message {
  width: 100%;
}

.modal-map {
  position: absolute;
  width: 940px;
  height: 448px;
  top: 30px;
  right: 0;
  background-color: #fff9e8;
}

.visible {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
