body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul.listnone {
  list-style: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.heading {
  background-color: #f9f5f0;
  min-height: 89px;
  margin-bottom: 20px;
}

.heading h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.main-header {
  background-color: #f3f7f9;
  min-height: 260px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.main-header-inner {
  margin-bottom: 23px;
}

.top-navigation-row {
  background-color: #293449;
}

.top-navigation-row .container {
  display: flex;
}

.technomart-logo {
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  box-shadow: 0 5px 0 0 #b52933;
  text-align: center;
}

.technomart-logo:hover,
.technomart-logo:focus {
  background-color: #ca2c37;
}

.technomart-logo:active {
  background-color: #ba2732;
}

.technomart-logo img {
  width: 111px;
  height: 18px;
  padding-top: 10px;
}

.search input {
  font-size: 17px;
  line-height: 18px;
}

.cart-navigation {
  display: flex;
  margin: 0;
}

.cart-navigation a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.cart-navigation a:hover,
.cart-navigation a:focus {
  background-color: #212a3a;
}

.cart-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #19202b;
}

.cart-navigation .cart-link.filled {
  background-color: #ee3643;
}

a.make-order-link {
  background-color: #63a63e;
}

a.make-order-link:hover,
a.make-order-link:focus {
  background-color: #5fbb2d;
}

a.make-order-link:active {
  background-color: #608f46;
}

.navigation-container {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.navigation-container p {
  margin: 0;
}

.site-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts .header-contacts-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts .header-contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.navigation-container {
  display: flex;
  min-height: 160px;
}

.user-navigation .login-link a,
.user-navigation .profile-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation .login-link a:hover,
.user-navigation .login-link a:focus {
  color: #ee3643;
}

.user-navigation .login-link a:active,
.user-navigation .profile-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .subprofile-link a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-navigation .subprofile-link a:hover,
.user-navigation .subprofile-link a:focus {
  color: #ee3643;
}

.user-navigation .subprofile-link a:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
  min-height: 55px;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.breadcrumbs a,
.breadcrumbs .breadcrumbs-current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

h1.site-header {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

h1.page-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding-left: 30px;
  padding-top: 32px;
  margin: 0;
  background-color: #f2f6f8;
  min-height: 57px;
  margin-bottom: 20px;
}

.promo-catalog {
  margin-bottom: 54px;
}

.slide { /* временный стиль, чтобы видно было область и белый текст */
  /*background-color: rgba(206, 231, 244, 0.7);*/
  height: 266px;
  width: 620px;
}

.promo-catalog-slider figure {
  margin: 0;
}

.slider-image img {
  width: 620px;
  height: 266px;
}

.promo-catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 411px;
}

.promo-catalog-list .flex-row {
  display: flex;
  justify-content: space-between;
}

.promo-catalog-list .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-catalog-list p {
  margin: 0;
}

/* временные стили */
.slider-controls,
.slider-text-heading,
.slider-text-content,
.slider-link {
  display: none;
}

.slide-1 {
  display: none;
}
/* */

.promo-catalog-slider .slider-text-heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.promo-catalog-slider .slider-text-content {
  line-height: 24px;
  color: #ffffff;
}

.promo-catalog-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}

.promo-catalog-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-catalog-link:hover,
.promo-catalog-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-catalog-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-catalog-item {
  width: 300px;
  min-height: 123px;
}

.promo-catalog-item.materials {
  background-color: #ffbf47;
}

.promo-catalog-item.instrument {
  background-color: #3bbce3;
}

.promo-catalog-item.technic {
  background-color: #dc91d8;
}

.promo-catalog-item.sale {
  background-color: #8ed78f;
}

.promo-catalog-item.delievery {
  background-color: #ffc047;
}

.catalog-list {
  padding: 0;
  display: flex;
  min-height: 318px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 21px;
}

.catalog-item {
  width: 226px;
}

.catalog-item-actions {
  display: none;
}

.catalog-item .catalog-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.catalog-item .old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: 700;
  text-decoration: line-through;
}

.catalog-item .new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ee3643;
}

.catalog-item img {
  width: 184px;
  height: 164px;
}

.brands-list {
  padding: 0;
  display: flex;
  min-height: 310px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 88px;
}

.brands-item {
  background-color: #ffffff;
}

.brands-item img {
  width: 200px;
  height: 96px;
}

.brands-item:active {
  opacity: 0.3;
}

.map-description img {
  width: 300px;
  height: 158px;
}

.services h2,
.map-contacts h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services {
  background-color: #f4f8f9;
}

.services-list {
  width: 240px;
  margin-right: 80px;
}

.services .container {
  padding-top: 69px;
  min-height: 453px;
}

.services-wrapper {
  margin-top: 76px;
  display: flex;
}

.service {
  display: none;
}

.service-delievery {
  display: block;
}

.services .services-about,
.contacts .map-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services li a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}

.services li a:hover {
  background-color: #293449;
}

.services li.active a {
  color: #32425c;
  background-color: #ffffff;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services .services-description-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services .get-credit-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff5357;
}

.company-and-delievery-container {
  display: flex;
  min-height: 538px;
  padding-top: 100px;
}

.about-company, .map-contacts {
  padding-top: 80px;
}

.about-company {
  width: 540px;
  margin-right: 100px;
}

.about-company .about-company-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.footer-navigation-wrapper {
  background-color: #32425c;
  min-height: 193px;
}

.footer-contacts-wrapper {
  background-color: #293449;
  padding: 35px 0;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-wrap: wrap;
}

.footer-navigation .technomart-logo {
  width: 220px;
  min-height: 63px;
}

.contacts-wrapper {
  padding-top: 32px;
}

.contacts-wrapper .contacts {
  margin: 0;
}

.footer-navigation .technomart-logo img {
  width: 138px;
  height: 21px;
  padding-top: 22px;
}

.footer-navigation-list {
  display: flex;
  min-width: 550px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-navigation a {
  line-height: 24px;
  color: #f3f7f9;
}

.footer-catalog-navigation-list {
  margin: 0;
  display: flex;
  min-width: 530px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 32px;
}

.footer-catalog-navigation-list a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
}

.footer-navigation .contacts {
  line-height: 24px;
  color: #f3f7f9;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-wrap: wrap;
}

.copyrights,
.social-links,
.contact {
  margin: 0;
  padding: 0;
}

.copyrights li {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.contact {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.contact a {
  color: #ffd180;
}

.contact a:hover,
.contact a:focus {
  text-decoration: underline;
}

.contact a:active {
  text-decoration: none;
  color: #ee3643;
}

.social-links {
  display: flex;
}

.social-links a {
  background-color: #212a3a;
}

.social-links a.vk {
  width: 26px;
  height: 15px;
}

.social-links a.fb {
  width: 12px;
  height: 22px;
}

.social-links a.insta {
  width: 21px;
  height: 21px;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
  background-color: #ee3643;
}

.write-us-form label {
  line-height: 18px;
}

.inner-page-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
}

.inner-page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.inner-page-content {
  width: 700px;
}

.filters h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin: 0;
  padding: 13px 19px 12px 13px;
}

.filter-form {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-form legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort {
  background-color: #f7f3ec;
  display: flex;
  margin-bottom: 21px;
}

.sort h2 {
  margin: 0;
  padding: 13px 19px 12px 13px;
}

.sort-list,
.sort-order-list {
  display: flex;
  margin: 0;
}

.sort h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort-list-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px #ee3643 dotted;
}

.sort-list-item a:hover,
.sort-list-item a:focus {
  color: #000000;
  border-bottom: 1px #ee3643 solid;
}

.sort-list-item.sort-list-item-current a {
  color: #ee3643;
  border: 0;
}

.catalog-button {
  background-color: #63a63e;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.catalog-item-bookmark {
  color: #32425c;
  background: #ffffff;
}

.pagination-list {
  display: flex;
  margin: 53px 0 60px 0;
}

.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.pagination-item.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.article-wrapper {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 68px;
}


.some-words-about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.some-words-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.modal {
  background-color: #ffffff;
  display: none;
}

.modal-footer {
  background-color: #f1f1f1;
  min-height: 110px;
}

.modal-text-success {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  padding: 68px 100px 73px 176px;
}

.modal-map img {
  width: 1736px;
  height: 779px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal-added-to-cart {
  width: 620px;
  min-height: 275px;
}

.modal-write-us {
  width: 620px;
  min-height: 314px;
  padding: 45px 80px 39px 80px;
}

.modal-body {
  padding: 45px 80px 39px 80px;
}
